<div class="container">
  <h3><b>Wypełnij formularz</b></h3>
  <p>Skontaktujemy się z Toba jak najszybciej to będzie możliwe</p>
    <form class="col" (ngSubmit)="sendData(formRef)" #formRef="ngForm">
      <div class="col-12 form-floating mb-3 floatingInput">
        <div class="hook">
          <label><b>Nazwa firmy/Imie i nazwisko</b><span>*</span></label>
          <input type="text" class="form-control required"  name="name" [(ngModel)]="field_data.name" required minlength="2" #name="ngModel">
          <ng-container *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors.required">
              <span>Pole jest wymagane</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12 form-floating mb-3">
        <div class="hook">
          <label><b>Numer NIP</b><span>*</span></label>
          <input type="text" class="form-control" name="nip" [(ngModel)]="field_data.nip" required minlength="9" #nip="ngModel">
          <ng-container *ngIf="nip.invalid && nip.touched">
            <div *ngIf="nip.errors.required">
               <span>Pole jest wymagane</span>
            </div>
            <div class="red darken-1" *ngIf="nip.errors.minlength">
               <span>Numer NIP jest za krótki</span>
             </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12 form-floating mb-3">
        <div class="hook">
          <label><b>E-mail</b><span>*</span></label>
          <input type="email" class="form-control" name="email" [(ngModel)]="field_data.email" email required minlength="4" #email="ngModel">
          <ng-container *ngIf="email.invalid && email.touched">
            <div *ngIf="email.errors.required">
             <span>Pole jest wymagane</span>
            </div>
            <div *ngIf="email.errors.email">
             <span>Niepoprawny adres E-mail</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12 form-floating mb-3">
        <div class="hook">
          <label><b>Numer telefonu</b></label>
          <input type="text" class="form-control" name="tel" [(ngModel)]="field_data.tel">
        </div>
      </div>
      <div class="col-12 form-floating mb-3">
        <div class="hook">
          <label><b>Temat</b><span>*</span></label>
          <select  class="form-select" name="title" [(ngModel)]="field_data.title" required #title="ngModel">
            <option selected><b>Współpraca</b></option>
            <option><b>Zgłoszenie szkody</b></option>
            <option><b>Inne</b></option>
          </select>
          <ng-container *ngIf="title.invalid && title.touched">
            <div *ngIf="title.errors.required">
              <span>Pole jest wymagane</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12 form-floating mb-3">
        <div class="hook">
          <label><b>Czy posiadasz prawo jazdy kategorii B?</b></label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="license" value="option1" [(ngModel)]="field_data.license">
            <label class="form-check-label"><b>Tak</b></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="license" value="option2" [(ngModel)]="field_data.license">
            <label class="form-check-label"><b>Nie</b></label>
          </div>
        </div>
      </div>
      <div class="col-12 form-floating mb-3">
        <div class="hook">
          <label class="form-label"><b>Treść wiadomości</b></label>
          <textarea class="form-control" rows="3" placeholder="Dzień dobry," name="message" [(ngModel)]="field_data.message"></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="select_all" (click)="checkedAll()" [(ngModel)]="field_data.select_all">
          <label class="form-check-label"><b>Zaznacz wszystkie zgody</b></label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="select_rodo" [(ngModel)]="field_data.select_rodo" required #select_rodo="ngModel">
          <label class="form-check-label" >
            Wyrażam zgodę na przetwarzanie moich danych osobowych podanych przeze mnie
            w powyższym formularzu w celu kontaktowym.<span>*</span>
          </label>
          <ng-container *ngIf="select_rodo.invalid && select_rodo.touched">
            <div *ngIf="select_rodo.errors.required">
              <span>Pole jest wymagane</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"  name="select_contact" [(ngModel)]="field_data.select_contact">
          <label class="form-check-label" >
            Wyrażam zgodę na kontakt telefoniczny w celach marketigowych.
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-lg" [disabled]="formRef.invalid" [routerLink]="['/form/success']"><b>Wyślij wiadomość</b></button>
      </div>
    </form>
    <hr>
    <pre>Model:{{field_data | json}}</pre>
</div>
